@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-5xl px-2 lg:px-0;
  }

  .button {
    @apply rounded-md bg-primary px-4 py-3 font-semibold tracking-wider 
    text-white transition hover:bg-accent 
    disabled:bg-gray-200 disabled:text-gray-400;
  }

  .button-secondary {
    @apply rounded-md bg-gray-200 px-4 py-3 font-semibold tracking-wider 
    text-gray-700 transition hover:shadow-sm 
    disabled:text-gray-400;
  }

  .title {
    @apply mt-4 mb-4 text-4xl font-semibold text-primary;
  }

  .form-label {
    @apply font-semibold text-gray-500;
  }

  .textbox {
    @apply rounded-md focus:ring-accent;
  }

  .table-padding {
    @apply px-4 py-3;
  }
}

/* 
    border-radius: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px 5px 0;
    width: fit-content;
    margin: 0px; */

/* Taken from https://jerrylowm.medium.com/build-a-tags-input-react-component-from-scratch-1524f02acb9a */
@layer fileTags {
  .input-tag {
    @apply m-0 inline-flex w-full flex-wrap rounded-xl border border-solid 
    border-slate-400 bg-white px-1 pt-1;
  }

  .input-tag input {
    @apply w-full border-none p-1 focus:ring-white;
  }

  .input-tag__tags {
    @apply mb-1 inline-flex w-full flex-wrap p-0;
  }

  .input-tag__tags li {
    @apply m-1 mb-1 mr-1 flex list-none items-center
     rounded-md bg-purple-600 py-1 px-3 pr-2 font-medium text-white;
  }

  .input-tag__tags li button {
    @apply ml-1.5 inline-flex cursor-pointer appearance-none
     items-center border-none p-0;
  }

  .input-tag__tags li.input-tag__tags__input {
    @apply ml-0 flex-grow bg-none p-0 text-black first:ml-1;
  }
}
