@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-5xl px-2 lg:px-0;
  }

  .button {
    @apply rounded-md bg-primary px-4 py-3 font-semibold tracking-wider 
    text-white transition hover:bg-accent 
    disabled:bg-gray-200 disabled:text-gray-400;
  }

  .button-secondary {
    @apply rounded-md bg-gray-200 px-4 py-3 font-semibold tracking-wider 
    text-gray-700 transition hover:shadow-sm 
    disabled:text-gray-400;
  }

  .title {
    @apply mt-4 mb-4 text-4xl font-semibold text-primary;
  }

  .form-label {
    @apply font-semibold text-gray-500;
  }

  .textbox {
    @apply rounded-md focus:ring-accent;
  }

  .table-padding {
    @apply px-4 py-3;
  }
}

@layer fileTags {
  .input-tag {
    background: white;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 0;
  }
  
  .input-tag input {
    border: none;
    width: 100%;
  }
  
  .input-tag__tags {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .input-tag__tags li {
    align-items: center;
    background: #85A3BF;
    border-radius: 2px;
    color: white;
    display: flex;
    font-weight: 300;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
  }
  
  .input-tag__tags li button {
    align-items: center;
    appearance: none;
    background: #333333;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    padding: 0;
    transform: rotate(45deg); /* Replace the + with &times; and compare */
    width: 15px;
  }
  
  .input-tag__tags li.input-tag__tags__input {
    background: none;
    flex-grow: 1;
    padding: 0;
    color: black;
  }
}